
.products-main-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-img-container{
  height: 300px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.product-img-img{
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-img-name{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  flex-direction: column;
  height: 80px;
}
.product-img-name > *{
  font-size: smaller;
  font-family: Arial, sans-serif;
}

.divBox{
  display: flex;
}
