.productDetail-wrapper{
    display: flex;
    overflow-y: scroll;
}

.productDetail-image-wrapper{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.productDetail-image{
    width: 50%;
    margin: 30px 0 70px 0;
}
