
.product-img-wrapper{
  height: 440px;
  width: 280px;
  margin-bottom: 40px;
}

.product-img-wrapper:hover{
  cursor: pointer;
}



.product-img-container{
  height: 400px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 50px;
}
.product-img-img{
  height: 100%;
  width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.product-img-name{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  flex-direction: column;
  height: 100px;
}
.product-img-name > *{
  font-size: smaller;
  font-family: Arial, sans-serif;
  /* word-break: inherit; */
}

.product-img-name__designer{
  letter-spacing: 1px;
  margin: 5px 0px;
}

.product-img-name__name{
  margin: 0px 0px 5px;
}

.divBox{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 250px;
  margin-bottom: 150px;
}

#root{
  overflow-y: scroll;
}

.categories-side-panel{
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  margin-top: 15px;
  margin-left: 15px;
}

.categories-side-panel__category > *{
  text-decoration: none;
  text-decoration-line: none;
  color: black;
  font-family: sans-serif;
  margin-top: 15px;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: 1px;
  font-size: 14px;
}

.categories-side-panel__category>*:hover{
  transition: 0.3s;
  cursor: pointer;
  color: hotpink;
}
